{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "printWidth": 300,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 300,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}